/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#scoreboard{
    padding: 15px 30%;
    background-color: lightblue;
}

#field{
    ul{
        display: flex;
        flex-direction: column;
        list-style: none;
    }

    li{
        display: flex;
        background-color:#f08080;
        
        div{
            border: 1px solid black;
            height: 50px;
            width: 50px;
            
            &.clicked{
                background-color: #fff;
            }
            &.bombInside{
                background-color: pink;
                background-image: url(../piranha.png);
                background-size: contain;
            }
            &.bombInside.this-bomb{
                background-color: red;
            }
        }
    }
}