/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: darkslategray;
    display: flex;
    justify-content: center;
    align-items: center;
}

#field{
    display: flex;
    flex-wrap: wrap;
    margin: 50px 10px;
    width: 600px;
    position: relative;
}
#field .bloccoClick{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

#scoreboard{
    width: 300px;
    padding: 20px 10px;
    background-color: pink;
}

#scoreboard select{
    display: block;
    margin: 30px 0;
}

.square{
    background-color: rgb(253, 220, 226);
    /* border: 2px solid darkslategray; */
    box-shadow: inset 0px 0px 0px 2px rgba(112,112,112,1);
    height: 60px;
    width: 60px;
    font-size: 25px;
    color: darkslategray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    text-align: center;
    position: relative;
}

.square.selected{
    background-color: green;
}

.square.selected.bombInside{
    background-color: red;
}
.square.selected.bombInside::after{
    content: '💣';
    line-height: 57px;
}
/* DEBUG */
/* .bombInside::after{
    content: '💣';
    line-height: 57px;
} */
