/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: darkslategray;
    display: flex;
    justify-content: center;
    align-items: center;
}

#field{
    display: flex;
    flex-wrap: wrap;
    margin: 50px 10px;
    width: 600px;
}

#scoreboard{
    width: 300px;
    padding: 20px 10px;
    background-color: pink;
}

#scoreboard select{
    display: block;
    margin: 30px 0;
}

.square{
    background-color: rgb(253, 220, 226);
    border: 2px solid darkslategray;
    height: 60px;
    width: 60px;
    font-size: 25px;
    color: darkslategray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

.square.selected{
    background-color: red;
}

.bombInside::after{
    content: '💣';
}