/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(145, 202, 228);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#field{
    display: flex;
    flex-wrap: wrap;
    margin: 50px 10px;
    width: 600px;
    position: relative;
}
#field .bloccoClick{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

#scoreboard{
    width: 300px;
    padding: 20px 10px;
    border-radius: 30px;
    border: 2px solid white;
    background-color: rgb(45, 143, 50);
    color: white;
}

#scoreboard select, #scoreboard hr{
    display: block;
    margin: 20px 0;
}

.square{
    background-color: rgb(145, 202, 228);
    /* border-radius: 50%; */
    box-shadow: inset 0px 0px 0px 1px white;
    height: 60px;
    width: 60px;
    font-size: 25px;
    color: darkslategray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    text-align: center;
    position: relative;
}

.square.selected{
    background-color: rgb(93, 140, 161);
}

.square.selected.bombInside{
    background-color: rgb(255, 0, 0);
}

.square.selected.bombInside::after{
    content: '';
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(piranha.png);
    background-size: cover;
}